.register_input {
  display: block;
  width: 250px;
  height: 40px;
  border: 1px solid rgb(201, 229, 132);
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: black;
}

.register_input:hover {
  border: 1px solid rgb(179, 201, 53);
}

.register_label {
  font-size: 24px;
  font-weight: 500;
  color: rgb(113, 148, 47);
}

.register_btn {
  display: block;
  margin-top: 50px;
  width: 250px;
  height: 40px;
  background-color: rgb(231, 238, 141);
  color: white;
  font-size: 20px;
  border: 1px solid rgb(208, 157, 15);
  border-radius: 5px;
}

.register_btn:hover {
  border: 1px solid rgb(197, 143, 18);
  background-color: rgb(202, 146, 14);
}
